<section class="my-5">
  <div class="grid grid-cols-1 md:grid-cols-[70%_minmax(0,1fr)] gap-4">
    <!-- Main Slider -->
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img
            src="assets/images/homeSlider/slider-image-1.jpeg"
            class="w-full h-[250px] md:h-[450px] rounded-lg overflow-hidden object-cover"
            alt="Image Number 1"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/images/homeSlider/slider-image-2.jpeg"
            class="w-full h-[250px] md:h-[450px] rounded-lg overflow-hidden object-cover"
            alt="Image Number 2"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/images/homeSlider/slider-image-3.jpeg"
            class="w-full h-[250px] md:h-[450px] rounded-lg overflow-hidden object-cover"
            alt="Image Number 3"
          />
        </ng-template>
      </owl-carousel-o>
    </div>

    <!-- Static Images -->
    <div class="flex-col hidden gap-3 md:flex">
      <img
        src="assets/images/homeSlider/slider-image-2.jpeg"
        class="w-full md:h-[220px] rounded-lg object-cover"
        alt="Image Number 2"
      />
      <img
        src="assets/images/homeSlider/slider-image-3.jpeg"
        class="w-full md:h-[220px] rounded-lg object-cover"
        alt="Image Number 3"
      />
    </div>
  </div>
</section>
