<div class="container p-6 mx-auto">
  <h2 class="mb-8 text-3xl font-bold text-center text-gray-800 dark:text-white">
    Our Brands
  </h2>

  <!-- Desktop Grid -->
  <div class="grid-cols-2 gap-6 md:grid md:grid-cols-3 lg:grid-cols-4">
    @for (brand of allBrands; track $index) {
      <div
        class="relative flex flex-col items-center p-6 mb-4 overflow-hidden transition-transform transform bg-white shadow-lg rounded-2xl hover:scale-105 hover:shadow-2xl dark:bg-gray-800 dark:shadow-gray-900"
      >
        <div
          class="absolute inset-0 transition-opacity duration-300 opacity-0 bg-gradient-to-br from-blue-500 to-purple-500 blur-xl hover:opacity-40"
        ></div>
        <img
          [src]="brand.image"
          alt="{{ brand.name }}"
          class="relative z-10 object-contain w-24 h-24 mb-4 rounded-full shadow-md"
        />
        <h3
          class="relative z-10 text-lg font-semibold text-gray-900 dark:text-white"
        >
          {{ brand.name }}
        </h3>
      </div>
    }
  </div>
</div>
