<nav class="sticky inset-0 z-50 bg-gray-200 border-gray-200 dark:bg-gray-900">
  <div class="flex flex-col md:grid md:grid-cols-[20%_minmax(0,1fr)] max-w-screen-xl p-4 mx-auto">
    <div class="flex justify-between">
      <a [routerLink]="isRegisterPage?'':'home'" class="flex items-center justify-center space-x-3 rtl:space-x-reverse">
        <img src="assets/images/freshcart-logo.svg" class="h-8 dark:invert" alt="Flowbite Logo" />
      </a>
      <!-- <li>
          <div class="relative inline-block w-10 mr-2 align-middle transition duration-200 ease-in select-none">
            <input type="checkbox" name="toggle" id="toggle"
              class="absolute block w-6 h-6 bg-white border-4 rounded-full appearance-none cursor-pointer toggle-checkbox" />
            <label for="toggle"
              class="block h-6 overflow-hidden bg-gray-300 rounded-full cursor-pointer toggle-label"></label>
          </div>
        </li> -->
      <button data-collapse-toggle="navbar-default" type="button"
        class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>

    </div>
    <div class="hidden w-full md:flex md:justify-between md:px-2 md:w-full ms-auto" id="navbar-default">
      <!-- @if (!isRegisterPage) { -->
      <ul
        class="flex flex-col gap-2 p-4 mt-4 font-medium border border-gray-100 rounded-lg md:p-0 md:flex-row md:space-x-1 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink="home" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white transition-all duration-300 hover:bg-green-400 hover:rounded-lg dark:text-white "
            aria-current="page">Home</a>
        </li>
        @if (isLogin) {
        <li>
          <a routerLink="wishlist" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white transition-all duration-300 hover:bg-green-400 hover:rounded-lg dark:text-white "
            aria-current="page">Wish List</a>
        </li>
        }
        <li>
          <a routerLink="products" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white transition-all duration-300 hover:bg-green-400 hover:rounded-lg md:border-0 dark:text-white ">Products</a>
        </li>
        <li>
          <a routerLink="categories" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white transition-all duration-300 hover:bg-green-400 hover:rounded-lg md:border-0 dark:text-white ">Categories</a>
        </li>
        <li>
          <a routerLink="brands" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white transition-all duration-300 hover:bg-green-400 hover:rounded-lg md:border-0 dark:text-white ">Brands</a>
        </li>
      </ul>
      <!-- } -->
      <ul
        class="flex-col hidden p-4 mt-4 font-medium border border-gray-100 rounded-lg md:flex md:p-0 md:flex-row rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

        @if (!isLogin) {
        <li>
          <a routerLink="signin" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white transition-all duration-300 hover:bg-green-400 hover:rounded-lg dark:text-white "
            aria-current="page">Sign in</a>
        </li>
        <li>
          <a routerLink="register" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white transition-all duration-300 hover:bg-green-400 hover:rounded-lg md:border-0 dark:text-white ">Register</a>
        </li>
        }

        <!-- 
        ==============================================================
                              Start Dark Mode Button 
        ==============================================================
        -->
        <label for="theme" class="theme">
          <span class="theme__toggle-wrap">
            <input id="theme" (click)="themeService.toggleTheme()" class="hidden theme__toggle" type="checkbox"
              role="switch" name="theme">
            <span class="theme__icon">
              <span class=" sun fa-solid fa-sun"></span>
              <span class=" moon fa-solid fa-moon"></span>
            </span>
          </span>
        </label>

        <!-- 
        ==============================================================
                              End Dark Mode Button 
        ==============================================================
        -->

        @if (isLogin) {
        <!-- @if (isLogin) { -->
        <li>
          <a routerLink="cart" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-green-400 transition-all duration-300 hover:bg-green-400 hover:text-white hover:rounded-lg md:border-0 dark:text-white "><i
              class=" fas fa-xl fa-shopping-cart"></i></a>
        </li>
        <!-- } -->
        <li class="flex items-center mx-3">
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
            class="flex items-center justify-between w-full px-3 py-2 text-black rounded-sm cursor-pointer hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"><img
              src="assets/images/Bassem_Samra.png" class="w-10 h-10 rounded-full" alt=""></button>
          <!-- Dropdown menu -->
          <div id="dropdownNavbar"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a routerLink="/allorders"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My Orders</a>
              </li>
              <li class="mb-3">
                <a routerLink="/changePassword"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Change
                  Password</a>
              </li>
              <li class="flex items-center justify-center gap-3">
                <a href=""><i class="fa-brands fa-instagram dark:text-white"></i></a>
                <a href=""><i class="fa-brands fa-facebook dark:text-white"></i></a>
                <a href=""><i class="fa-brands fa-tiktok dark:text-white"></i></a>
                <a href=""><i class="fa-brands fa-twitter dark:text-white"></i></a>
                <a href=""><i class="fa-brands fa-linkedin dark:text-white"></i></a>
                <a href=""><i class="fa-brands fa-youtube dark:text-white"></i></a>
              </li>
            </ul>
            <div class="py-1">
              <a (click)="_AuthService.logout()"
                class="block px-4 py-2 text-sm text-black cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                Sign out
              </a>
            </div>
          </div>
        </li>
        }
      </ul>
      <!-- @if (!isRegisterPage) { -->
      <ul
        class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg md:hidden md:p-0 md:flex-row rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li class="flex items-center justify-center gap-3">
          <a href=""><i class="fa-brands fa-instagram dark:text-white"></i></a>
          <a href=""><i class="fa-brands fa-facebook dark:text-white"></i></a>
          <a href=""><i class="fa-brands fa-tiktok dark:text-white"></i></a>
          <a href=""><i class="fa-brands fa-twitter dark:text-white"></i></a>
          <a href=""><i class="fa-brands fa-linkedin dark:text-white"></i></a>
          <a href=""><i class="fa-brands fa-youtube dark:text-white"></i></a>
        </li>
        <li class="mb-3">
          <!-- 
        ==============================================================
                              Start Dark Mode Button 
        ==============================================================
        -->
          <label for="theme" class="theme">
            <span class="theme__toggle">
              <input id="theme" (click)="themeService.toggleTheme()" class="hidden theme__toggle"
                role="switch" name="theme">
              <span class="">
                <span class=" sun fa-solid fa-sun"></span>
                <span class=" moon fa-solid fa-moon"></span>
              </span>
            </span>
          </label>

          <!-- 
        ==============================================================
                              End Dark Mode Button 
        ==============================================================
        -->

        </li>

        @if (isLogin) {
        <li>
          <a routerLink="/allorders"
            class="block px-4 py-2 text-black rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My
            Orders</a>
        </li>
        <li>
          <a routerLink="/cart" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-4 py-2 text-black rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            Cart
          </a>
        </li>
        <li class="mb-3">
          <a routerLink="/changePassword"
            class="block px-4 py-2 text-black rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Change
            Password</a>
        </li>
        }

        <!-- @if (!isLogin) {
        <li class="hidden">
          <a routerLink="signin" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white dark:text-white " aria-current="page">SignIn</a>
        </li>
        <li class="hidden">
          <a routerLink="register" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white md:border-0 dark:text-white ">Register</a>
        </li>
        } -->
        @if (isLogin) {
        <li class="mb-3">
          <a (click)="_AuthService.logout()"
            class="block px-4 py-2 text-sm text-black cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
            Sign out
          </a>
        </li>
        }
      </ul>
      <!-- } -->
      <ul
        class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg md:hidden md:p-0 md:flex-row rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        @if (!isLogin) {
        <li>
          <a routerLink="signin" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white dark:text-white " aria-current="page">SignIn</a>
        </li>
        <li>
          <a routerLink="register" routerLinkActive="bg-green-400 text-white rounded-lg"
            class="block px-3 py-2 text-white md:border-0 dark:text-white ">Register</a>
        </li>
        }
      </ul>
    </div>



  </div>
</nav>