@if (currentProduct) {
  <div
    class="max-w-5xl p-6 mx-auto my-6 overflow-hidden transition-all duration-300 transform bg-white shadow-lg dark:bg-gray-900 rounded-2xl"
  >
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <div class="relative w-3/4">
        <swiper-container effect="cards" grap-cursor="true">
          @for (slide of currentProduct.images; track $index) {
            <swiper-slide>
              <img
                [src]="slide"
                [alt]="currentProduct.title"
                class="w-full shadow-md rounded-xl"
              />
            </swiper-slide>
          }
        </swiper-container>
      </div>

      <div class="flex flex-col justify-center">
        <div>
          <h2 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">
            {{ currentProduct.title }}
          </h2>
          <p class="mb-4 text-lg text-gray-600 dark:text-gray-400">
            {{ currentProduct.price }} EGP
          </p>
          <div class="flex items-center mb-4">
            @for (star of [1, 2, 3, 4, 5]; track $index) {
              <i class="text-yellow-300 fa fa-star"></i>
            }
            <span class="ml-2 text-gray-600 dark:text-gray-400"
              >({{ currentProduct.ratingsQuantity }} Reviews)</span
            >
          </div>
          <p class="mb-6 leading-relaxed text-gray-700 dark:text-gray-300">
            {{ currentProduct.description }}
          </p>
        </div>

        <!-- Buttons -->
        <div class="flex justify-center space-x-4">
          <button
            (click)="addProduct(currentProduct._id)"
            class="px-6 py-3 text-white transition-all duration-300 transform bg-green-600 rounded-lg shadow-lg hover:bg-green-700 hover:scale-105"
          >
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
}
