<div
  class="flex items-center justify-center min-h-screen px-4 py-12 bg-gradient-to-r from-blue-200 to-white dark:from-blue-800 dark:to-gray-900 sm:px-6 lg:px-8"
>
  <div class="relative w-full max-w-md space-y-8">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 dark:text-gray-100">
        Change Your Password
      </h2>
      <p class="mt-2 text-lg text-gray-600 dark:text-gray-400">
        Please enter your current password and new password to proceed.
      </p>
    </div>

    <form
      class="mt-8 space-y-6"
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()"
    >
      @if (errMsg) {
        <div class="alert">
          <p>
            {{ errMsg }}
          </p>
        </div>
      }
      <div class="rounded-md shadow-sm">
        <div class="relative">
          <label for="current-password" class="sr-only">Current Password</label>
          <input
            formControlName="currentPassword"
            id="current-password"
            name="current-password"
            type="password"
            class="relative block w-full px-10 py-2 placeholder-gray-500 border border-gray-300 rounded-md appearance-none dark:border-gray-600 dark:bg-gray-700 dark:text-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 sm:text-sm"
            placeholder="Current Password"
          />

          <svg
            class="absolute w-6 h-6 text-gray-500 cursor-pointer group left-3 top-2 dark:text-gray-300"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M9 4a1 1 0 011 1v3a1 1 0 11-2 0V5a1 1 0 011-1zM9 8a1 1 0 011 1v3a1 1 0 11-2 0V9a1 1 0 011-1zM9 12a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg>
          <div
            id="tooltip-default"
            role="tooltip"
            class="absolute z-10 inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 group-hover:visible tooltip dark:bg-gray-700"
          >
            Tooltip content
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
          @if (
            changePasswordForm.get("currentPassword")?.errors &&
            changePasswordForm.get("currentPassword")?.touched
          ) {
            <div class="mt-1 alert">
              @if (
                changePasswordForm.get("currentPassword")?.errors?.["required"]
              ) {
                <p>This Input Is Required</p>
              } @else if (
                changePasswordForm.get("currentPassword")?.errors?.["pattern"]
              ) {
                <p>
                  Password must start with an uppercase letter, be at least 8
                  characters long, and contain at least one lowercase letter and
                  one number.
                </p>
              }
            </div>
          }
        </div>

        <div class="relative my-4">
          <label for="new-password" class="sr-only">New Password</label>
          <input
            formControlName="newPassword"
            id="new-password"
            name="new-password"
            [type]="newPasswordFieldType"
            class="relative block w-full px-10 py-2 placeholder-gray-500 border border-gray-300 rounded-md appearance-none dark:border-gray-600 dark:bg-gray-700 dark:text-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 sm:text-sm"
            placeholder="New Password"
          />

          <svg
            class="absolute w-6 h-6 text-gray-500 left-3 top-2 dark:text-gray-300"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M9 4a1 1 0 011 1v3a1 1 0 11-2 0V5a1 1 0 011-1zM9 8a1 1 0 011 1v3a1 1 0 11-2 0V9a1 1 0 011-1zM9 12a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            (click)="togglePasswordVisibility('newPassword')"
            class="absolute w-6 h-6 text-gray-500 cursor-pointer right-3 top-2 dark:text-gray-300"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M10 3c-3.8 0-7 3.6-7 7 0 1.5 1.1 3.3 2.7 4.7l-1.6 2.2c-1.2-1.2-2.1-2.7-2.1-4.2 0-4.1 3.4-7.3 7.3-7.3 2 0 3.8.8 5.2 2.1l1.8-2.4C14.1 3.4 12.2 3 10 3zm0 10c-1.5 0-2.9-.7-3.8-1.8l1.6-2.2c.5.5 1.3.9 2.2.9 2.5 0 4.4-2.1 4.4-4.4 0-1.7-.9-3.2-2.3-4.2L13.1 4c.8 1.2 1.3 2.6 1.3 4.4 0 3.1-2.5 5.6-5.6 5.6z"
              clip-rule="evenodd"
            />
          </svg>
          @if (
            changePasswordForm.get("newPassword")?.errors &&
            changePasswordForm.get("newPassword")?.touched
          ) {
            <div class="mt-1 alert">
              @if (
                changePasswordForm.get("newPassword")?.errors?.["required"]
              ) {
                <p>This Input Is Required</p>
              } @else if (
                changePasswordForm.get("newPassword")?.errors?.["pattern"]
              ) {
                <p>
                  Password must start with an uppercase letter, be at least 8
                  characters long, and contain at least one lowercase letter and
                  one number.
                </p>
              }
            </div>
          }
        </div>

        <div class="relative">
          <label for="re-password" class="sr-only">Confirm New Password</label>
          <input
            formControlName="rePassword"
            id="re-password"
            name="re-password"
            [type]="rePasswordFieldType"
            class="relative block w-full px-10 py-2 placeholder-gray-500 border border-gray-300 rounded-md appearance-none dark:border-gray-600 dark:bg-gray-700 dark:text-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 sm:text-sm"
            placeholder="Confirm New Password"
          />

          <svg
            class="absolute w-6 h-6 text-gray-500 left-3 top-2 dark:text-gray-300"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M9 4a1 1 0 011 1v3a1 1 0 11-2 0V5a1 1 0 011-1zM9 8a1 1 0 011 1v3a1 1 0 11-2 0V9a1 1 0 011-1zM9 12a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            (click)="togglePasswordVisibility('rePassword')"
            class="absolute w-6 h-6 text-gray-500 cursor-pointer right-3 top-2 dark:text-gray-300"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M10 3c-3.8 0-7 3.6-7 7 0 1.5 1.1 3.3 2.7 4.7l-1.6 2.2c-1.2-1.2-2.1-2.7-2.1-4.2 0-4.1 3.4-7.3 7.3-7.3 2 0 3.8.8 5.2 2.1l1.8-2.4C14.1 3.4 12.2 3 10 3zm0 10c-1.5 0-2.9-.7-3.8-1.8l1.6-2.2c.5.5 1.3.9 2.2.9 2.5 0 4.4-2.1 4.4-4.4 0-1.7-.9-3.2-2.3-4.2L13.1 4c.8 1.2 1.3 2.6 1.3 4.4 0 3.1-2.5 5.6-5.6 5.6z"
              clip-rule="evenodd"
            />
          </svg>
          @if (
            changePasswordForm.get("rePassword")?.errors &&
            changePasswordForm.get("rePassword")?.touched
          ) {
            <div class="mt-1 alert">
              @if (changePasswordForm.get("rePassword")?.errors?.["required"]) {
                <p>This Input Is Required</p>
              } @else if (
                changePasswordForm.get("rePassword")?.errors?.["mismatch"]
              ) {
                <p>Password Doesn't Match.</p>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button
          class="relative flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-white bg-green-600 border border-transparent rounded-md gap-x-1 group hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
        >
          @if (dataSent) {
            <i class="fa fa-spinner fa-spin"></i>
          }
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>
